{namespace JIRA.Templates.ProjectTemplates.Tutorial}

/**
 * Render the information page for My Project Template.
 */
{template .renderMyProjectTemplateExplanation}
    <p>{getText('my.project.template.info.page.description')}</p>
{/template}