<div class="ghx-container">
    <h4>Einstein Quotes</h4>
    <blockquote>
        The secret to creativity is knowing how to hide your sources.
    </blockquote>
    <blockquote>
        Imagination is more important than knowledge. Knowledge is limited.
    </blockquote>
    <blockquote>
        I am enough of an artist to draw freely upon my imagination.
    </blockquote>
    <blockquote>
        When I examine myself and my methods of thought, I come to the conclusion that the gift of fantasy has meant more to me than any talent for abstract, positive thinking.
    </blockquote>
    <blockquote>
        The true sign of intelligence is not knowledge but imagination.
    </blockquote>
    <blockquote>
        To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science.
    </blockquote>
    <blockquote>
        True art is characterized by an irresistible urge in the creative artist.
    </blockquote>
    <blockquote>
        The monotony and solitude of a quiet life stimulates the creative mind.
    </blockquote>
    <blockquote>
        It is the supreme art of the teacher to awaken joy in creative expression and knowledge.
    </blockquote>
</div>